<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.wodmarket.domain.category.CategoryMapper">
    <resultMap id="Category" type="com.flab.wodmarket.domain.category.Category">
        <id property="no" column="category_no"/>
        <result property="name" column="category_name"/>
    </resultMap>

    <select id="allList" resultMap="Category">
        SELECT category_no as no,
                category_name as name
        FROM category
        ORDER BY category_no ASC
    </select>

    <insert id="addCategory" parameterType="String">
        INSERT INTO category
            (category_name)
        VALUES (#{categoryName})
    </insert>

    <select id="findById" parameterType="int" resultMap="Category">
        SELECT category_no as no,
                category_name as name
        FROM category
        WHERE category_no = #{categoryNo}
    </select>

    <delete id="deleteCategory" parameterType="int">
        DELETE
        FROM category
        WHERE category_no = #{categoryNo}
    </delete>

</mapper>